<app-header></app-header>
<div class="row rowedit">
    <h3 style="padding-top: 20px;">Les enseignants de l'Enicarthage</h3>
        <br>
    <div class="col-md-8 pad card-group">
        <div class="card_border mb-3" style="max-width: 360px; margin-left: 20px; max-height: 140px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/prof.png" class="img-fluid rounded-start img" alt="photo personnelle">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Nom Prenom</h5>
                <p class="card-text">Maitre assistant en Informatique</p>
                <a class="card-text" routerLink="/Information"><small class="text-muted">Informations personnelles</small></a>
                </div>
            </div>
            </div>
        </div>
        <div class="card_border mb-3" style="max-width: 360px; margin-left: 20px; max-height: 140px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/prof2.png" class="img-fluid rounded-start img" alt="photo personnelle">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Nom Prenom</h5>
                <p class="card-text">Maitre assistant en Informatique</p>
                <a class="card-text" routerLink="/Information"><small class="text-muted">Informations personnelles</small></a>
                </div>
            </div>
            </div>
        </div>   
    </div>
    <div class="col-md-8 pad card-group">
        <div class="card_border mb-3" style="max-width: 360px; margin-left: 20px; max-height: 140px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/prof4.png" class="img-fluid rounded-start img" alt="photo personnelle">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Nom Prenom</h5>
                <p class="card-text">Maitre assistant en Informatique</p>
                <a class="card-text" routerLink="/Information"><small class="text-muted">Informations personnelles</small></a>
                </div>
            </div>
            </div>
        </div>
        <div class="card_border mb-3" style="max-width: 360px; margin-left: 20px; max-height: 140px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/prof3.png" class="img-fluid rounded-start img" alt="photo personnelle">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Nom Prenom</h5>
                <p class="card-text">Maitre assistant en Informatique</p>
                <a class="card-text" routerLink="/Information"><small class="text-muted">Informations personnelles</small></a>
                </div>
            </div>
            </div>
        </div>   
    </div>
    <br>
    <div class="col-3 editcardfilter">
        <div class="card filter">
            <div class="container">
              <h4><b>Chercher un enseignant</b></h4>
              <br>
              <input class="form-control form-control-sm" type="text" placeholder="Nom de l'enseignant" aria-label=".form-control-sm example">
              <br>
              <select class="form-select form-select-sm" aria-label="Spécialité de l'enseignant">
                <option selected>Spécialité de l'enseignant</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <br>
              <select class="form-select form-select-sm" aria-label="Grade de l'enseignant">
                <option selected>Grade de l'enseignant</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <br>
            <button class="btn btn_srch" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>            
            </button>
          </div>
        </div>     
    </div>
    
</div>
<app-footer></app-footer>
