<main class="form-signin editlogin">
    <form [formGroup]="this.loginForm" (ngSubmit)="login()">
      <h2 class="h3 mb-3 fw-normal">Se connecter</h2>
     
      <div class="form-floating">
        <input type="text" class="form-control x" id="username" formControlName="username" placeholder="Taper your login" required>
        <label for="floatingInput">Username</label>
      </div>
      <br>
      <div class="form-floating">
        <input type="password" class="form-control x" id="password" formControlName="password" placeholder="Taper your Passward" required>
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class=" btn btn_pers" type="submit">Se connecter</button>
    </form>
</main>