.table-wrapper {
    width: 400px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 10px;
    border-radius: 50px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 20px;
}

table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
 
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
   
    
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
.input-group{
    position: absolute;
    right: 50px;
    width: 300px;
   padding: 10px;}

   
   .img-responsive {
    height: auto;
    width: auto;
    max-height: 30px;
    max-width: 30px;
}

.avatar 
{
 width : 80px; 
}
.btn-outline-info
{  
    position:absolute;
    margin-top: 10px;
    margin-left: 70%;
    
 
}
.adminheader
{
    height: 20%
}

.btn-outline-info
{  
    position:absolute;
    margin-top: 12px;
    margin-left: 68%;
    
 
}
.liste-title
{text-align: center;
margin-left: 35%;}