.rowedit{
    padding-left: 80px;
    padding-right: 90px;
    padding-bottom: 50px;
    padding-top: 20px;
}
.nav_btn{
padding-top: 5px;
padding-bottom: 5px;

}
.btn{
    background-color: rgb(255, 255, 255);
    color: rgb(60, 60, 60);
}
.nav_btn:hover{
    background-color: rgb(236, 236, 236);
}
.colnav{
    font-size: 14px;
   
}
label{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}
.btn_pers{
    background-color: #031532;
    color: snow;
      }
      .Maitre{
        font-size: smaller;
    }
    .Cour{
        color: #266ed9;
        font-size: 20px;
    }
    /* formation */
    .form{
        color: rgb(52, 52, 99);
        font-size: 16px;
        font-weight: bold;
    }
    .lieuform{
        padding-top: -15px;
        font-size: 12px;
    
    }
    .dateform{
        font-size: 12px;
        color: darkgrey;
    }
.btn_del{
    color: rgb(217, 3, 3);
}    