<app-header></app-header>

<div class="row rowedit">
    <h2>Centre 4C </h2>
    <br>
<!---->
    <div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h3 class="featurette-heading">Présentation du centre 4C de l’ENICarthage</h3>
        <pre class="def">
          <br>
<h5 style="color: rgb(31, 31, 195);">C’est quoi un centre 4C</h5>
  - Le 4C est une structure présente dans les établissements d’enseignement supérieur 
  et dans les universités.
  - Le 4C joue le rôle d’un maillon entre l’université, l’étudiant et l’entreprise.
  - Le 4C a pour mission d’améliorer l’employabilité des futurs diplômés grâce a un 
  programme de conseil,d’accompagnement, de formation, de certification et de réseautage 
  avec l’environnement socio-économique.
  <br>
<h5 style="color: rgb(31, 31, 195);">Les services du 4C</h5>
En effet, les problématiques à traiter se déclinent en cinq projets de recherche, à savoir:
          
  - Conseil dans le choix du parcours académique et professionnel avec un test psychométrique 
  en ligne et un coaching individuel, « Tamheed ».
  - Accompagnement dans la préparation du dossier de candidature pour un stage ou un emploi 
  Offres de stages et d’emploi.
  - Ateliers de formation en soft skills, techniques de recherche d’emploi et entrepreneuriat.
  - Formations complémentaires par des professionnels Certifications en langues et 
  en technologie Organisation des journées carrière, salon de l’emploi, visites sur site,
   rencontres avec les entreprises Partenariat avec les associations et les ONG.
</pre>
      </div>
      <div class="col-md-5">
        <img src="../../assets/téléchargement.png" style="padding-top: 150px; padding-left: 100px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="4c">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2" style="padding-left: -10px;">
        <h3 class="featurette-heading">Activités du centre 4C de l’ENICarthage</h3>
        <pre class="def">
          <br>
- Le centre organise quotidiennement des formations, des séminaires et offre des vauchers 
pour des certifications reconnues à l’échelle internationale.
- L’ensemble de ses activités est géré par la plateforme : http://www.4c.tn/#DetailCentre/19
- Le centre a réussi à obtenir un financement PAQ-4C 2018,permettant d’équiper l’école de trois salles:
    - Un local pour le centre 4C, contenant un espace pour le passage des examens 
    de certification et un espace de formation.
    - Une salle MACINTOCH pour le développement mobile
    - Un FABLAB pour la réalisation des prototypes de nos futurs ingénieurs.
- Le projet comporte aussi le financement de formation et de certification des enseignants 
et des étudiants dans les domaines suivant :
    - Anglais : TOIEC
    - Gestion de projet : TENSTEP
    - Conception assistées par ordinateur : SOLIDWORK
        </pre>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/POST_FORMATION-EN-LIGNE.jpg" style="padding-top: 100px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" alt="4c">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <br><br><br>
        <h3 class="featurette-heading">Les partenaires du centre 4C</h3>
      </div>
      <div class="col-md-5">
        <img src="../../assets/partenaires.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="photo personnelle">

      </div>
    </div>

    <hr class="featurette-divider">
    </div>
  </div>

<app-footer></app-footer>

